@import "../../../styles/variable.scss";

.placeholder_container {
  background-color: $Slate900;
  padding: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border-bottom-left-radius: 5rem;
  border-top-left-radius: 0;

  h2 {
    color: $White;
    margin: 1rem;
    font-size: 1.5rem;
  }
  p {
    color: $Slate300;
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 900px) {
  .placeholder_container {
    border-radius: 0;
  }
}
